DB_HOST=mysql
DB_PORT=your_port
DB_USER=your_username
DB_PASSWORD=your_password
DB_NAME=lingualearn

MONGO_URL=mongodb://url:port
MONGO_USER=your_username
MONGO_PASSWORD=your_password
MONGO_NAME=lingualearn

REDIS_ADDR=url:port
REDIS_PASSWORD=your_password
REDIS_DB=0

SERVER_ADDRESS=:8080